.search-icon {
    cursor: pointer;
}

.show {
  display: block;
}

.navbar-search {
    display: inline-block;
    width: 20px;
    cursor: pointer;
    position: relative;
}

.icon-search {
    position: relative;
    z-index: 1;
}

.navbar-search:active>form,
.navbar-search:focus>form,
.navbar-search:hover>form {
    overflow: inherit;
    clip: inherit;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    opacity: 1
}

.navbar-search:active>.icon-search,
.navbar-search:focus>.icon-search,
.navbar-search:hover>.icon-search {
    color: #eb5055
}


.navbar-search form .search-box {
    line-height: 30px;
    position: relative;
    top: -1px;
    display: inline-block;
    width: 400px;
    height: 30px;
    padding: 0;
    border: none;
    border-radius: 3px
}

.navbar-search form .search-box input {
    font-size: 14px;
    line-height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    padding: 0 40px 0 30px;
    color: #313131;
    border: 1px solid #eb5055;
    border-radius: 20px;
    outline: 0;
    background-color: #fff;
    -webkit-appearance: none
}

.navbar-search form {
    line-height: 30px;
    position: absolute;
    top: 50%;
    left: -10px;
    display: block;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
    width: 300px;
    max-width: 60%;
    height: 30px;
    margin-top: -15px;
    padding-right: 10px;
    opacity: 0;
}
