html {
    width: 100%;
    height: 100%;
    font-family: "Hiragino Sans GB","Microsoft YaHei UI","Microsoft Yahei","Microsoft Jhenghei","Arial";
    font-size: 20px;
}

html * {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-size: .8rem;
    background-color: #fff;
}

body, dl, h1, h2, h3, h4, h5, h6, li, ol, ul, p, blockquote {
    margin: 0;
    padding: 0;
}

ol, ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #4a4a4a;
}

a:link {
    text-decoration: none;
    color: #4a4a4a;
}

a:visited {
    text-decoration: none;
    color: #4a4a4a;
}

a:hover {
    text-decoration: none;
    color: #4a4a4a;
}

a:active {
    text-decoration: none;
    color: #4a4a4a;
}

/*head*/
.head {
    width: 100%;
    height: 88px;
    padding-left: 220px;
    padding-top: 27px;
    padding-bottom: 27px;
    border-bottom: 1px solid #eee;
    z-index: 5;
    background-color: #fff;
}

.header-title {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.line {
    width:1px;
    height:20px;
    background: #dddddd;
}

.header-text {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
}

.conduct-box {
    width: 100%;
    position: relative;
}

.logo-text {
    position: absolute;
    left: 220px;
    top: 80px;
    z-index: 100;
}

/*=====*/
/*.content {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    padding: 0 2rem;*/
/*    width: 100%;*/
/*}*/

/*.content .section {*/
/*    max-width: 1360px;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

.article-box {
    padding-left: 220px;
    padding-top: 27px;
    padding-right: 220px;
}

.title-box {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:16px;
    color: #333333;
    font-weight:500;
}

.category-prefix {
    width:5px;
    height:16px;
    background-color: #00AEE2;
}

.article-list-box {
    min-width: 1000px;
    margin-top: 30px;
    display: flex;
    flex-flow: wrap;
}

.article-item {
    width:180px;
    height:220px;
    background:rgba(255,255,255,1);
    box-shadow:0px 1px 10px 0px rgba(0,0,0,0.08);
    border-radius:12px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.article-item:hover {
    border: 2px solid #00AEE2;
    cursor: pointer;
}

.article-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-box {

}

.article-title {
    text-align: center;
    font-size:18px;
    color: #333333;
    padding-top: 18px;
}

.footer-box {
    /*padding: 0 220px;*/
}

.msg-box {
    width: 1000px;
    border-top: 1px solid #EEEEEE;
    font-size:13px;
    color: #666666;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    font-weight:400;
}
